<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

    <!-- vuejs-datepicker-->
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" defer></script>

    <script src="/views/js/vueMemo.js" defer></script>


    <title>Work Memo</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-dark bg-primary mb-2">
        <a class="navbar-brand" href="#">Work Tasks</a>
      </nav>
      <div class="container">
        <div class="card border-primary mb-3">
          <div class="card-header">
            <h5>Input Task</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <h5>Task</h5>
                <textarea type="text" id="textarea1" class="form-control" name="memoContent" v-model="memoContent" v-bind:class="{'alert-color': !validate }" value=''></textarea>
              </div>

              <div class="form-row">
                <div class="form-group col-md-5">
                  <label for=inputmember>Assigned to: {{ assignedMember }}</label>
                  <select v-model="assignedMember" class="form-control">
                    <option disabled value="">Please select a member</option>
                    <option v-for="member in optionMember"
                            v-bind:value="member.name"
                            v-bind:key="member.id">
                            {{ member.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for=inputDue>Due</label>
                  <vuejs-datepicker v-model="memoDate" :value="memoDate" :format='customFormat'></vuejs-datepicker>
                </div>
              </div>

              <div class="text-right">                  
                <button v-on:click="addMemo" v-bind:disabled="!isEntered" type="button" class="btn btn-primary">
                  Add
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="card-deck">
        <div v-for="(item, index) in computedMemos">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Task {{ index + 1 }}</h5>
              <h6 class="card subtitle mb-2 text-muted">Until: {{ item.date }}</h6>
              <p class="content">{{ item.content }}</p>
              <div class="text-right">
                <button v-on:click="deleteMemo(item)" type="button" class="btn btn-secondary btn-sm">
                  Done 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>